body {
  background-color: #5c338f;
  margin: auto;
}

#container {
  position: fixed;
  bottom: 0px;
  background-color:lightgrey;
  width: 1050px;
  left:50%;
  margin-left:-525px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left:5px solid black;
  border-top:5px solid black;
  border-right:5px solid black;
}

h1 {
  text-align: center;
  color: black;

}

#content {
  width: 1000px;
  margin:auto;
}

.table {
  background-color: black;
  color: white;
}

#infoButton {
  display: inline;
}

#infoImage {
  padding-top: 3px;
}

.buttonSize {
  height: 36px;
}
.popover {
	max-width: 400px;
	width: auto;
}
.popover-content {
   height: 50px;
   width: 400px;
   overflow-y: scroll;
}

.horizontalRule {
  border-color:lightgrey;
}

.keyCommandText {
  padding:3px;
  background-color:#85acf1;
}
